/target
/classes
/checkouts

data/
uploads/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

.portal/


.clj-kondo/
.lsp/
.calva/output-window/

.idea/

.DS_Store

# Shadow-CLJS
.shadow-cljs/
node_modules/
resources/public/js/
.nrepl-port

# Frontend build
resources/public