{:nexus.system/env {:jwt-secret "some-super-secret-used-for-jwt-auth"}

 ;; Database 
 :nexus.db/connection {; No creds here, auto-injected via tests
                       }

 ;; Security
 :nexus.auth/jwt {:options {:jwt-secret #ref [:nexus.system/env :jwt-secret]}}

 ;; Realtime
 :nexus.router.realtime.service/service {}

 :nexus.server/app {:options {:hot-reload? false
                              :cors-mode :dev
                              :show-error-stacks? true}
                    :deps {:db #ig/ref :nexus.db/connection
                     ;;       :users-service #ig/ref :nexus.users/service
                           :jwt #ig/ref :nexus.auth/jwt
                           :stream-service #ig/ref :nexus.router.realtime.service/service}}
 
 ;; Server is injected a-la-carte in a per-test basis
 ;; :nexus.server/server {} 
 }